MONGODB_URI=mongodb://localhost:27017
DB_NAME=cotana_bot

PHONE_NUMBER=
OWNERS=
BOTNAME=COTANA
MODE=public
PREFIX=.

PORT=5000
SERVER_PORT=
PAIRING_MODE=true

KEEP_ALIVE=true
KEEP_ALIVE_INTERVAL_MS=240000
KEEP_ALIVE_URL=
APP_URL=
PUBLIC_URL=
KOYEB_PUBLIC_DOMAIN=

GEMINI_API_KEY=
GOOGLE_API_KEY=
GOOGLE_GENERATIVE_AI_API_KEY=
AI_API_KEY=
GEMINI_MODEL=gemini-1.5-flash

COBALT_API_KEY=
YTDLP_PROXY=
